body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: white;
    text-decoration: none;
}

#nav-element {
    display: flex;
    align-items: center;
    background-color: rgb(236, 15, 15);
    z-index: 3;
}

#nav-element img {
    width: 175px;
    height: 100px;
}

#nav-element h1 {
    margin: 0;
    color: white;
    font-size: 1.8em;
    margin-left: -30px;
}

#nav-element .nav-links {
    display: flex;
    gap: 40px;
    margin-left: auto;
    padding: 40px;
    font-size: 1.5em;
}

#hero-element {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#banner-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 20px 0;
}

#banner-element img {
    width: 1500px;
    height: 550px;
    object-fit: cover;
    border-radius: 1%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
}

#hero-element h2 {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 4.5em;
    padding: 20px;
    margin: 0;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
}

#hero-element button {
    position: absolute;
    z-index: 2;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    bottom: 20%;
    right: 45%
}

#hero-element button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

#sales-element {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.sales-item {
    width: 400px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
    background-color: lightgrey;
    padding: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sales-item:hover {
    background-color: gray;
    transform: scale(1.05);
}


.sales-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: fill;
}

.sales-item p {
    font-size: 1.5em;
    color: #000000;
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}
