html, body {
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    color: white;
    text-decoration: none;
}

#nav-element {
    display: flex;
    align-items: center;
    background-color: rgb(236, 15, 15);
    z-index: 3;
}

#nav-element img {
    width: 175px;
    height: 100px;
}

#nav-element h1 {
    margin: 0;
    color: white;
    font-size: 1.8em;
    margin-left: -30px;
}

#nav-element .nav-links {
    display: flex;
    gap: 40px;
    margin-left: auto;
    padding: 40px;
    font-size: 1.5em;
}

#parking-lots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
}

.parking-lot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.parking-lot img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #f1f1f1;
    width: 100%;
}

#comments-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.comment {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.no-comments {
    background-color: #f0d9d7;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #ff0000;
    border: 1px solid #ff0800;
    border-radius: 5px;
}

.comment:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
